<%= form_for [:dashboard, request_leave] do |f| %>
  <div class="row">
    <div class="col-md-7">
      <%= f.hidden_field :approver_id, {value: @current_user.id} %>
      <%= f.select :status,
        options_for_select(RequestLeave.statuses.keys, request_leave.status),
        {}, {class: "form-control"} %>
    </div>
    <div class="col-md-5 form-group" >
      <%= f.submit t(".change"), class: "btn btn-primary form-control" %>
    </div>
  </div>
<% end %>
