<nav class="navbar">
  <div class="container-fluid">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Personal Offs", "#" %>
        </li>
        <li>
          <%= link_to "Request Offs", request_offs_path %>
        </li>
        <li>
          <%= link_to "Request Leaves", request_leaves_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>
