<!DOCTYPE html>
<html>
<head>
  <%= render "edit.js.erb" %>
</head>
<body onload="init()">
  <div id="sample">
    <div class="workspace">
      <span class="work-span">
        <div id="accordion">
          <h4><%= t "dashboard.workspaces.edit.item" %></h4>
          <div>
            <div id="myPaletteSmall" class="my-palet"></div>
          </div>
        </div>
      </span>
      <span class="my-diagram">
        <div id="myDiagramDiv" class="g-div"></div>
      </span>
    </div>
    <div>
      <button type="button" name="submit" class="btn-save btn-primary btn">
        <%= t "dashboard.workspaces.edit.save" %>
      </button>
    </div>
  </div>
</body>
</html>
