<% provide :title, t(".new_workspaces") %>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="modal_config">
      <%= render "form" %>
    </div>
  </div>
  <div class="space"></div>
</div>
