<!DOCTYPE html>
<html>
  <head>
    <%= render "show.js.erb" %>
  </head>
  <body onload="init()">
    <div id="sample">
      <div>
        <span class="myDiagra">
          <div id="myDiagramDiv" class="myDiagraDiv"></div>
        </span>
      </div>
    </div>
    <div>
      <% if current_user.manager? %>
        <button>
          <%= link_to t("dashboard.workspaces.edit.edit"),
            edit_dashboard_workspace_path %>
        </button>
      <% end %>
    </div>
  </body>
</html>
