<!DOCTYPE html>
<html>
  <head>
    <title><%= t "workspaces.show.title" %></title>
    <%= render "show.js.erb" %>
  </head>
  <body onload="init()">
    <div id="sample">
      <div>
        <span class="myDiagra">
          <div id="myDiagramDiv" class="myDiagraDiv"></div>
        </span>
      </div>
    </div>
  </body>
</html>
