<tr>
  <td>
    <%= current_index @request_offs.current_page,
      Settings.per_page.dashboard.request_off, request_off_counter %>
  </td>

  <td><%= l request_off.off_have_salary_from, format: :date_month_year %></td>
  <td><%= l request_off.off_have_salary_to, format: :date_month_year %></td>

  <td><%= request_off.reason %></td>

  <td></td>
</tr>
