$a-color: #f5f5f5;
$b-color: #d2691e;
$c-color: #808080;
$d-color: #000;

.form-request {
  background-color: $a-color;
  border-style: groove;
  color: $d-color;
  float: none;
  margin: 0 auto;
  width: 45%;

  .form-title {
    color: $b-color;
    font-size: 1em;
    font-style: normal;
    text-align: center;

    .title-content {
      color: $c-color;
      font-size: 1.1em;
      height: 140px;
      margin: 20px;
      margin-left: 13px;
      width: 120%;
    }

    .require {
      font-size: 0.8em;
      margin-right: 663px;
    }
  }

  .form-group {
    float: none;
    margin: 0 auto;
    margin-left: 15px;
    width: 100%;

    .select-branch {
      width: 50px;
    }

    .select-division {
      width: 80px;
    }

    .select-section {
      width: 180px;
    }

    .select-time {
      width: 130px;
    }

    .select-reason {
      height: 100px;
      width: 500px;
    }
  }
}

.request-leaves {
  padding: 10px;

  .menu-action li {
    display: inline;
    float: left;
    list-style: none;
    margin-left: 10px;
  }

  .search-created-at,
  .inline {
    display: inline;
    float: left;
    margin-left: 20px;
  }

  .colum-text-field-search,
  .form-inline select {
    height: 30px;
    min-width: 200px;
  }
}
