@import 'bootstrap-sprockets';
@import 'bootstrap';

$hcontent-color: #f9f9f9;
$pcontent-color: #fff;
$navlink-color: #155363;
$lihover-color: #27ae60;

.margin-bottom-50 {
  margin-bottom: 50px;
}

.main-container {
  background-color: $pcontent-color;

  .header-content {
    background: $hcontent-color;
    height: 50px;
    text-align: center;
  }

  .page-content {
    min-height: 860px;
  }
}

.icon-header-after-login {
  left: 20px;
  position: absolute;
  top: 12px;
  z-index: 1;
}


.w-nav-link.menu-li,
.w-nav-link.menu-li a {
  color: $navlink-color;
  font-size: 18px;
  line-height: 18px;
}

.w-nav-link.menu-li:hover {
  text-decoration: none;
}

.menu-li {
  padding-bottom: 30px;
  padding-top: 26px;
}

.menu-li:hover {
  background-color: $lihover-color;
  border-top-style: none;
  color: $pcontent-color;
  transition: background, .7s;
}
