<div class="footer">
  <div class="w-container wrap-normal center">
    <%= t "year" %>
    <strong><%= t "by_education_framgia" %></strong>
    <%= t "sub" %>
    <span class="green"><%= t "inc_all_rights_reserved" %></span>
  </div>
</div>
