<div tabindex="1000" class="header_overflow" id="boxscroll">
  <section id="home">
    <div>
      <div class="w-container container">
        <div class="w-row">
          <div class="w-col w-col-3 logo">
            <a href="#"><%= image_tag("logo.png") %></a>
          </div>
          <div class="w-col w-col-9">
            <div class="w-nav navbar" data-collapse="medium"
              data-animation="default" data-duration="400" data-contain="1">
              <div class="w-container nav">
                <nav class="w-nav-menu nav-menu" role="navigation">
                  <%= link_to t("home"), root_path,
                    class: "w-nav-link menu-li" %>
                  <%= link_to t("about"), "#", class: "w-nav-link menu-li" %>
                </nav>
                <div class="w-nav-button">
                  <div class="w-icon-nav-menu"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
